In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
%matplotlib inline
import statistics

In [2]:
# Import CSV file
loans_prepro_df = pd.read_csv('Loans_Data_Clean.csv')
loans_prepro_df

C:\Users\jwag2\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (92) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Applicant_ID,Loan_Amt,Loan_Term,Interest_Rate,Monthly_Payment,Credit_Grade,Job_Title,Employement_Length,Rent_Own,Annual_Income,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,1,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,96775,30000,60,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96775,96776,15000,36,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96776,96777,10000,36,8.24%,314.48,B1,None,None,MORTGAGE,46203.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96777,96778,6325,36,15.99%,222.34,C5,None,None,OWN,24564.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96778,96779,15625,60,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# Change data type of columns needed for sum column
loans_prepro_df.astype({'open_il_6m': 'int64', 'open_il_12m': 'int64', 'open_il_24m': 'int64'}).dtypes
loans_prepro_df['Open_Acc_IL24m'] = loans_prepro_df['open_il_6m'] + loans_prepro_df['open_il_12m'] + loans_prepro_df['open_il_24m']

print(loans_prepro_df['Open_Acc_IL24m'])

0        14
1         3
2         5
3         7
4        15
         ..
96774    19
96775     1
96776     2
96777     3
96778     2
Name: Open_Acc_IL24m, Length: 96779, dtype: int64

In [4]:
# Drop unused combined columns
loans_prepro_df = loans_prepro_df.drop(columns=['open_il_6m', 'open_il_12m', 'open_il_24m'], axis=0)
loans_prepro_df.head()

,Applicant_ID,Loan_Amt,Loan_Term,Interest_Rate,Monthly_Payment,Credit_Grade,Job_Title,Employement_Length,Rent_Own,Annual_Income,...,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,Open_Acc_IL24m
0,1,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14
1,2,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2,3,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3,4,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
4,5,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15

In [5]:
# Change data type of columns needed for sum revolving account column
loans_prepro_df.astype({'open_rv_12m': 'int64', 'open_rv_24m': 'int64'}).dtypes
loans_prepro_df['Open_RevAcc_24m'] = loans_prepro_df['open_rv_12m'] + loans_prepro_df['open_rv_24m']
loans_prepro_df = loans_prepro_df.drop(columns=['open_rv_12m', 'open_rv_24m'], axis=0)
print(loans_prepro_df['Open_RevAcc_24m'])
loans_prepro_df.head()

0        11
1         3
2        12
3         4
4         3
         ..
96774     0
96775    12
96776     0
96777     6
96778     3
Name: Open_RevAcc_24m, Length: 96779, dtype: int64

,Applicant_ID,Loan_Amt,Loan_Term,Interest_Rate,Monthly_Payment,Credit_Grade,Job_Title,Employement_Length,Rent_Own,Annual_Income,...,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,Open_Acc_IL24m,Open_RevAcc_24m
0,1,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,11
1,2,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3
2,3,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,12
3,4,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,4
4,5,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3

In [6]:
# Change data type of columns needed for sum past due account column
loans_prepro_df.astype({'num_tl_120dpd_2m': 'int64', 'num_tl_30dpd': 'int64', 'num_tl_90g_dpd_24m': 'int64'}).dtypes
loans_prepro_df['Acc_Curr_PD30days'] = loans_prepro_df['num_tl_120dpd_2m'] + loans_prepro_df['num_tl_30dpd'] + loans_prepro_df['num_tl_90g_dpd_24m']
loans_prepro_df = loans_prepro_df.drop(columns=['num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m'], axis=0)
print(loans_prepro_df['Acc_Curr_PD30days'])
loans_prepro_df.head()

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
96774    0.0
96775    0.0
96776    0.0
96777    0.0
96778    0.0
Name: Acc_Curr_PD30days, Length: 96779, dtype: float64

,Applicant_ID,Loan_Amt,Loan_Term,Interest_Rate,Monthly_Payment,Credit_Grade,Job_Title,Employement_Length,Rent_Own,Annual_Income,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,Open_Acc_IL24m,Open_RevAcc_24m,Acc_Curr_PD30days
0,1,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,11,0.0
1,2,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3,0.0
2,3,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,12,0.0
3,4,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,4,0.0
4,5,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3,0.0

In [8]:
# Rename Open acc column
loans_prepro_df = loans_prepro_df.rename(columns={'open_acc': '#_Open_Accounts'})
loans_prepro_df.astype({'#_Open_Accounts': 'int64'}).dtypes
loans_prepro_df.head()

,Applicant_ID,Loan_Amt,Loan_Term,Interest_Rate,Monthly_Payment,Credit_Grade,Job_Title,Employement_Length,Rent_Own,Annual_Income,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,Open_Acc_IL24m,Open_RevAcc_24m,Acc_Curr_PD30days
0,1,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,11,0.0
1,2,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3,0.0
2,3,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,12,0.0
3,4,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,4,0.0
4,5,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3,0.0

In [9]:
# Rename Bankruptcies column
loans_prepro_df = loans_prepro_df.rename(columns={'pub_rec_bankruptcies': '#_Bankruptcies'})
loans_prepro_df.astype({'#_Bankruptcies': 'int64'}).dtypes
loans_prepro_df.head()

,Applicant_ID,Loan_Amt,Loan_Term,Interest_Rate,Monthly_Payment,Credit_Grade,Job_Title,Employement_Length,Rent_Own,Annual_Income,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,Open_Acc_IL24m,Open_RevAcc_24m,Acc_Curr_PD30days
0,1,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,11,0.0
1,2,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3,0.0
2,3,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,12,0.0
3,4,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,4,0.0
4,5,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,3,0.0

In [10]:
# Create new ML dataframe 
loans_ml_df = loans_prepro_df.filter(items=['Loan_Amt', 'Loan_Term', 'Monthly_Payment', 'Credit_Grade', 'Employement_Length',
                                           'Annual_Income', 'DTI_Ratio', 'Application_Type', 'Joint_Annual_Income',
                                           'Joint_DTI_Ratio', '#_Open_Accounts', '#_Delinquent_Accounts', 'Total_Amount_in_Collection',
                                           'Total_Current_Balance_All', 'Average_Current_Balance', 'Chargeoff_within_Last_Year',
                                           'Delinquent_Amount', '#_Mortgage_Accounts', '#_Bankruptcies', '#_Tax_Liens',
                                           'Balance_Exc_Mortgage', 'Joint_Revolving_Balance', 'Open_Acc_IL24m',
                                           'Open_RevAcc_24m', 'Acc_Curr_PD30days', 'Loan_Status'])

In [11]:
loans_ml_df.head()

,Loan_Amt,Loan_Term,Monthly_Payment,Credit_Grade,Employement_Length,Annual_Income,DTI_Ratio,Application_Type,Joint_Annual_Income,Joint_DTI_Ratio,...,Delinquent_Amount,#_Mortgage_Accounts,#_Bankruptcies,#_Tax_Liens,Balance_Exc_Mortgage,Joint_Revolving_Balance,Open_Acc_IL24m,Open_RevAcc_24m,Acc_Curr_PD30days,Loan_Status
0,3600,36,111.97,A4,10+ years,120000.0,18.90,INDIVIDUAL,0.0,0.0,...,0,0,1,0,36506,0.0,14,11,0.0,Issued
1,15000,60,356.78,C4,10+ years,125000.0,17.25,INDIVIDUAL,0.0,0.0,...,0,2,0,0,69364,0.0,3,3,0.0,Issued
2,8400,36,276.56,B3,8 years,50000.0,15.63,INDIVIDUAL,0.0,0.0,...,0,4,0,0,51591,0.0,5,12,0.0,Issued
3,4000,36,130.00,B2,2 years,50000.0,33.61,INDIVIDUAL,0.0,0.0,...,0,6,0,0,136208,0.0,7,4,0.0,Issued
4,6000,36,185.93,A3,3 years,125000.0,9.25,INDIVIDUAL,0.0,0.0,...,0,0,0,0,60622,0.0,15,3,0.0,Current

In [12]:
# Check new Df datatypes
loans_ml_df.dtypes

Loan_Amt                        int64
Loan_Term                       int64
Monthly_Payment               float64
Credit_Grade                   object
Employement_Length             object
Annual_Income                 float64
DTI_Ratio                     float64
Application_Type               object
Joint_Annual_Income           float64
Joint_DTI_Ratio               float64
#_Open_Accounts                 int64
#_Delinquent_Accounts           int64
Total_Amount_in_Collection      int64
Total_Current_Balance_All       int64
Average_Current_Balance         int64
Chargeoff_within_Last_Year      int64
Delinquent_Amount               int64
#_Mortgage_Accounts             int64
#_Bankruptcies                  int64
#_Tax_Liens                     int64
Balance_Exc_Mortgage            int64
Joint_Revolving_Balance       float64
Open_Acc_IL24m                  int64
Open_RevAcc_24m                 int64
Acc_Curr_PD30days             float64
Loan_Status                    object
dtype: object

In [13]:
# Loans_ML_DF to CSV file
loans_ml_df.to_csv('Loans_Data_ML.csv', index=False)