In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Load in datafile
loans_df = pd.read_csv('LoanStats_2017Q1 2.csv')
loans_df

C:\Users\jwag2\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (112) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,3600,3600,3600,36 months,7.49%,111.97,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000,15000,15000,60 months,14.99%,356.78,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,8400,8400,8400,36 months,11.39%,276.56,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000,36 months,10.49%,130.00,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,6000,6000,6000,36 months,7.24%,185.93,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,NaN,NaN,30000,30000,30000,60 months,21.49%,819.90,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,NaN,NaN,15000,15000,15000,36 months,12.74%,503.54,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,NaN,NaN,10000,10000,10000,36 months,8.24%,314.48,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,NaN,NaN,6325,6325,6325,36 months,15.99%,222.34,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,NaN,NaN,15625,15625,15625,60 months,28.69%,493.03,F,F1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop duplicate ID column
loans_df = loans_df.drop(columns="id", axis=0)
loans_df

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,3600,3600,3600,36 months,7.49%,111.97,A,A4,Code/Compliance Inspector,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,15000,15000,15000,60 months,14.99%,356.78,C,C4,Senior Superintendent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,8400,8400,8400,36 months,11.39%,276.56,B,B3,IT Tech,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4000,4000,4000,36 months,10.49%,130.00,B,B2,Dental hygienist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,6000,6000,6000,36 months,7.24%,185.93,A,A3,Program Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,NaN,30000,30000,30000,60 months,21.49%,819.90,D,D5,Teacher Department Head,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,NaN,15000,15000,15000,36 months,12.74%,503.54,C,C1,Senior Product Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,NaN,10000,10000,10000,36 months,8.24%,314.48,B,B1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,NaN,6325,6325,6325,36 months,15.99%,222.34,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,NaN,15625,15625,15625,60 months,28.69%,493.03,F,F1,Certified Dietary Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
loans_df['member_id'].dtypes

dtype('float64')

In [5]:
# Change NaN in member_id to zero and cast as interger
loans_df['member_id'] = loans_df['member_id'].fillna(0)
loans_df.astype({'member_id': 'int64'}).dtypes
loans_df

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,0.0,3600,3600,3600,36 months,7.49%,111.97,A,A4,Code/Compliance Inspector,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,15000,15000,15000,60 months,14.99%,356.78,C,C4,Senior Superintendent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,8400,8400,8400,36 months,11.39%,276.56,B,B3,IT Tech,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,4000,4000,4000,36 months,10.49%,130.00,B,B2,Dental hygienist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,6000,6000,6000,36 months,7.24%,185.93,A,A3,Program Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,0.0,30000,30000,30000,60 months,21.49%,819.90,D,D5,Teacher Department Head,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,0.0,15000,15000,15000,36 months,12.74%,503.54,C,C1,Senior Product Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,0.0,10000,10000,10000,36 months,8.24%,314.48,B,B1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,0.0,6325,6325,6325,36 months,15.99%,222.34,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,0.0,15625,15625,15625,60 months,28.69%,493.03,F,F1,Certified Dietary Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Assign member_id values
loans_df['member_id'] = np.arange(len(loans_df))
loans_df

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,0,3600,3600,3600,36 months,7.49%,111.97,A,A4,Code/Compliance Inspector,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15000,15000,15000,60 months,14.99%,356.78,C,C4,Senior Superintendent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8400,8400,8400,36 months,11.39%,276.56,B,B3,IT Tech,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4000,4000,4000,36 months,10.49%,130.00,B,B2,Dental hygienist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,6000,6000,6000,36 months,7.24%,185.93,A,A3,Program Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,96774,30000,30000,30000,60 months,21.49%,819.90,D,D5,Teacher Department Head,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,96775,15000,15000,15000,36 months,12.74%,503.54,C,C1,Senior Product Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,96776,10000,10000,10000,36 months,8.24%,314.48,B,B1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,96777,6325,6325,6325,36 months,15.99%,222.34,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,96778,15625,15625,15625,60 months,28.69%,493.03,F,F1,Certified Dietary Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Set index column as member_id
loans_df = loans_df.set_index('member_id')
loans_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,3600,3600,36 months,7.49%,111.97,A,A4,Code/Compliance Inspector,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,15000,15000,60 months,14.99%,356.78,C,C4,Senior Superintendent,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,8400,8400,36 months,11.39%,276.56,B,B3,IT Tech,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,4000,4000,36 months,10.49%,130.00,B,B2,Dental hygienist,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,6000,6000,36 months,7.24%,185.93,A,A3,Program Manager,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,30000,30000,60 months,21.49%,819.90,D,D5,Teacher Department Head,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,15000,15000,36 months,12.74%,503.54,C,C1,Senior Product Manager,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,10000,10000,36 months,8.24%,314.48,B,B1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,6325,6325,36 months,15.99%,222.34,C,C5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,15625,15625,60 months,28.69%,493.03,F,F1,Certified Dietary Manager,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# remove columns with duplicate information
loans_df = loans_df.drop(columns=["funded_amnt", "funded_amnt_inv", "title"], axis=0)
loans_df

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36 months,7.49%,111.97,A,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60 months,14.99%,356.78,C,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36 months,11.39%,276.56,B,B3,IT Tech,8 years,MORTGAGE,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36 months,10.49%,130.00,B,B2,Dental hygienist,2 years,RENT,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36 months,7.24%,185.93,A,A3,Program Manager,3 years,RENT,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60 months,21.49%,819.90,D,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36 months,12.74%,503.54,C,C1,Senior Product Manager,2 years,RENT,110500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36 months,8.24%,314.48,B,B1,NaN,NaN,MORTGAGE,46203.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36 months,15.99%,222.34,C,C5,NaN,NaN,OWN,24564.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60 months,28.69%,493.03,F,F1,Certified Dietary Manager,1 year,RENT,34000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Remove columns with unnecessary data
loans_df = loans_df.drop(columns=["grade", "issue_d", "pymnt_plan", "url", "desc", "initial_list_status",
                                  "recoveries", "collection_recovery_fee", "policy_code"], axis=0)
loans_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36 months,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60 months,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36 months,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36 months,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36 months,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60 months,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36 months,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36 months,8.24%,314.48,B1,NaN,NaN,MORTGAGE,46203.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36 months,15.99%,222.34,C5,NaN,NaN,OWN,24564.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60 months,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Remove columns with incomplete info or info not needed
loans_df = loans_df.drop(columns=["zip_code", "earliest_cr_line", "out_prncp_inv", "total_pymnt_inv",
                                 "last_pymnt_d", "last_pymnt_d", "next_pymnt_d", "last_credit_pull_d"], axis=0)
loans_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36 months,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60 months,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36 months,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36 months,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36 months,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60 months,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36 months,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36 months,8.24%,314.48,B1,NaN,NaN,MORTGAGE,46203.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36 months,15.99%,222.34,C5,NaN,NaN,OWN,24564.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60 months,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Remove the word 'month' from term column and cgange datatype to int
loans_df['term'] = loans_df['term'].str.replace('months', '')
loans_df.astype({'term': 'int64'}).dtypes
loans_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36,8.24%,314.48,B1,NaN,NaN,MORTGAGE,46203.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36,15.99%,222.34,C5,NaN,NaN,OWN,24564.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Replace NaN value in emp_title column
loans_df['emp_title'] = loans_df['emp_title'].fillna('None')
loans_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36,8.24%,314.48,B1,None,NaN,MORTGAGE,46203.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36,15.99%,222.34,C5,None,NaN,OWN,24564.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Change term column datatype
loans_df.astype({'term': 'int64'}).dtypes

loan_amnt                                int64
term                                     int64
int_rate                                object
installment                            float64
sub_grade                               object
                                        ...
sec_app_open_il_6m                     float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
Length: 101, dtype: object

In [21]:
# Replace NaN value in emp_length column
loans_df['emp_length'] = loans_df['emp_length'].fillna('None')
loans_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36,8.24%,314.48,B1,None,None,MORTGAGE,46203.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36,15.99%,222.34,C5,None,None,OWN,24564.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Replace NaN value in verification_status_joint column
loans_df['verification_status_joint'] = loans_df['verification_status_joint'].fillna('Not Applicable')
loans_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,15000,36,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,10000,36,8.24%,314.48,B1,None,None,MORTGAGE,46203.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,6325,36,15.99%,222.34,C5,None,None,OWN,24564.0,Not Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,15625,60,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Replace all other NaN values with 0 
loans_clean_df = loans_df.fillna(0)
loans_clean_df

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
member_id,,,,,,,,,,,,,,,,,,,,,
0,3600,36,7.49%,111.97,A4,Code/Compliance Inspector,10+ years,MORTGAGE,120000.0,Not Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15000,60,14.99%,356.78,C4,Senior Superintendent,10+ years,MORTGAGE,125000.0,Not Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8400,36,11.39%,276.56,B3,IT Tech,8 years,MORTGAGE,50000.0,Source Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4000,36,10.49%,130.00,B2,Dental hygienist,2 years,RENT,50000.0,Source Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6000,36,7.24%,185.93,A3,Program Manager,3 years,RENT,125000.0,Source Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,30000,60,21.49%,819.90,D5,Teacher Department Head,10+ years,MORTGAGE,60000.0,Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96775,15000,36,12.74%,503.54,C1,Senior Product Manager,2 years,RENT,110500.0,Source Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96776,10000,36,8.24%,314.48,B1,None,None,MORTGAGE,46203.0,Not Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96777,6325,36,15.99%,222.34,C5,None,None,OWN,24564.0,Not Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96778,15625,60,28.69%,493.03,F1,Certified Dietary Manager,1 year,RENT,34000.0,Source Verified,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
loans_clean_df.to_csv('prelim_loans_data.csv', index=True)